﻿

.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #f6f7f8;
    border-radius: 3px;
    border: solid 1px #fe1e50;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
   height: 37px !important;
    outline: 0;
    padding-left: 20px;
    padding-right: 30px;
    position: relative;
    text-align: left!important;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: 100% !important;
}

.h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.h1 {
    font-family: Muli,sans-serif;
    color: #232882;
    margin-top: 0;
}

.h4 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    font-family: Muli,sans-serif;
    color: #232882;
    margin-top: 0;
}

.contact-box i{
    background: #fe1e50 !important;
}

.h2 {
    font-size: 2rem;
}
 .h2, .h3, .h4, .h5 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

 .mt-20 {
    margin-top: 20px!important;
}

 .button {
    background: #fe1e50;
    padding: 10px 20px;
    font-size: 13px;
    letter-spacing: 1px;
    font-family: Muli,sans-serif;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    border: 2px solid #fe1e50;
    cursor: pointer;
}
.uppercase {
    text-transform: uppercase;
}
.h5 {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    color:#232882;
}

 .h6 {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    font-family: Muli,sans-serif;
    color: #232882;
    margin-top: 0;
}



.contact-box i {
    background: #84ba3f;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-radius: 5px;
    font-size: 34px;
    color: #fff;
    display: inline-block;
}

.a {   
    text-decoration: none !important;
    background-color: transparent; 
    color:#fe1e50;
}

body{font-family:Muli,sans-serif !important;font-weight:400;font-style:normal;font-size:14px;color:#626262}
.page-section-ptb {
    padding: 80px 0;
}

.touch-in .contact-box {
    box-shadow: 0 0 30px rgba(0,0,0,.09);
    display: inline-block;
    margin-bottom: 0;
    padding: 60px 20px;
    width: 100%;
}

.mb-30 {
    margin-bottom: 30px!important;
}


.mt-50 {
    margin-top: 50px!important;
}


.page-title {
    display: block;
    padding-top: 250px;
    padding-bottom: 100px;
    position: relative;
}
.title-effect {
    z-index: 99;
    position: relative;
    display: inline-block;
    transition: transform .5s,color .5s;
    transition-timing-function: cubic-bezier(.2,1,.3,1);
}

.section-title {
    margin-bottom: 40px;
    position: relative;
}

.section-title:nth-child(odd) .title-effect::before {
    background: #232882;
}

.sections:focus .title-effect::before, .sections:hover .title-effect::before {
    transform: scale3d(1,1,1);
}
.title-effect::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 6%;
    left: 0;
    bottom: 0;
    opacity: .8;
    transform: scale3d(0,1,1);
    transform-origin: 0 50%;
    transition: transform .5s;
    transition-timing-function: cubic-bezier(.2,1,.3,1);
}




.pb-10 {
    padding-bottom: 10px!important;
}

.feature-text.round:hover .feature-icon span,h1:hover, .theme-color , .sections:hover .title-effect:nth-child(even){
    color: #fe1e50;
}

.feature-text.round:hover .feature-icon span {
    background: #fe1e50;
color:white;
}
.section-title p {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
}

.p {
    font-weight: 400;
    line-height: 1.5;
    color: #626262;
}

.feature-text.text-center .feature-icon i, .feature-text.text-center .feature-icon span {
    padding-left: 0;
}
.feature-text.shadow .feature-icon i, .feature-text.shadow .feature-icon span {
    color: #323232;
    background: #fff;
    box-shadow: 0 4px 20px rgba(0,0,0,.09);
    padding-left: 0;
}

.feature-text.round .feature-icon i, .feature-text.round .feature-icon span {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    font-size: 26px;
    border-radius: 50%;
    padding-left: 0;
}
.feature-text .feature-icon i, .feature-text .feature-icon span {
    font-size: 40px;
    margin-bottom: 30px;
    display: inline-block;
    padding-left: 15px;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
}

#jarallax-container-0 {
    clip: rect(0, 1349px, 384px, 0);
}

.section-title {   
    position: relative;
}

.section-title.line .title {
    padding-bottom: 20px;
}
.section-title .title {
    margin-top: 0;
    position: relative;
}

.text-left {
    text-align: left!important;
}

.text-white {
    color: #fff!important;
}

.counter.left-icon {
    padding-left: 70px;
}
.counter {
    position: relative;
    color: #353535;
    min-height: 60px;
}

.counter.left-icon .icon {
    font-size: 40px;
    line-height: 50px;
    position: absolute;
    left: 0;
    bottom: auto;
    top: 0;
}
.counter.left-icon span {
    margin: 0;
}

.counter.left-icon span {
    margin: 0;
    line-height: 40px;
}
.counter .timer {
    display: block;
    font-size: 44px;
    font-weight: 600;
}

.counter label {
    font-size: 15px;
    font-weight: 600;
    margin: 10px 0 0;
    position: relative;
    text-transform: capitalize;
}

.parallax {
    -webkit-background-size: cover!important;
    position: relative;
    z-index: 0;
    background-position: center center!important;
}

.page-section-ptb {
    padding: 80px 0;
}

.bg-overlay-black-70:before {
    background: rgba(0,0,0,.7);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

::-moz-selection{background:#fe1e50;color:#fff;text-shadow:none}::-moz-selection{background:#fe1e50;color:#fff;text-shadow:none}::selection{background:#fe1e50;color:#fff;text-shadow:none}

.page-title .page-title-name {
    display: inline-block;
    width: 60%;
}

.page-title .page-breadcrumb {
    float: right;
    width: 40%;
    text-align: right;
}
ul.page-breadcrumb {
    padding-top: 30px;
}
ul {
    margin: 0;
    padding: 0;
}

.page-title h1 {
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
}

.page-title p {
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
}



ul.page-breadcrumb {
    padding-top: 30px;
}

ul.page-breadcrumb li i {
    font-size: 14px;
    padding: 0 7px;
}
ul.page-breadcrumb li {
    color: #fff;
    display: inline-block;
    list-style: none;
}