.pmcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 12px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 1rem !important;
  display: block !important;
}
.custom-nav {
  line-height: 35px !important;
  border-radius: 20px;
  background: -moz-linear-gradient(90deg, #00ace4 0%, #085ca9 100%);
  background: -webkit-linear-gradient(90deg, #00ace4 0%, #085ca9 100%);
  background: -ms-linear-gradient(90deg, #00ace4 0%, #085ca9 100%);
  border: 1px solid #085ca9;
  color: #fff !important;
  padding: 0 0.7rem !important;
}
.custom-nav:hover {
  line-height: 35px !important;
  border-radius: 20px;
  background: #fff !important;
  color: #085ca9 !important;
  border: 1px solid #085ca9;
  padding: 0 0.7rem !important;
}
.navbar .input-group {
  width: auto;
  padding: 0;
}
.section-field .custom-control {
  color: white;
}
.required {
  color: red;
}
.animation-delay-1 {
  animation-delay: 0.1s !important;
}
.animation-delay-2 {
  animation-delay: 0.2s !important;
}
.animation-delay-3 {
  animation-delay: 0.3s !important;
}
.animation-delay-4 {
  animation-delay: 0.4s !important;
}
.animation-delay-5 {
  animation-delay: 0.5s !important;
}
.animation-delay-6 {
  animation-delay: 0.6s !important;
}
.animation-delay-7 {
  animation-delay: 0.7s !important;
}
.animation-delay-8 {
  animation-delay: 0.8s !important;
}
.animation-delay-9 {
  animation-delay: 0.9s !important;
}
.animation-delay-10 {
  animation-delay: 1s !important;
}
.animation-delay-11 {
  animation-delay: 1.1s !important;
}
.animation-delay-12 {
  animation-delay: 1.2s !important;
}
.animation-delay-13 {
  animation-delay: 1.3s !important;
}
.animation-delay-14 {
  animation-delay: 1.4s !important;
}
.animation-delay-15 {
  animation-delay: 1.5s !important;
}
.animation-delay-16 {
  animation-delay: 1.6s !important;
}
.animation-delay-17 {
  animation-delay: 1.7s !important;
}
.animation-delay-18 {
  animation-delay: 1.8s !important;
}
.animation-delay-19 {
  animation-delay: 1.9s !important;
}
.animation-delay-20 {
  animation-delay: 2s !important;
}
.animation-delay-21 {
  animation-delay: 2.1s !important;
}
.animation-delay-22 {
  animation-delay: 2.2s !important;
}
.animation-delay-23 {
  animation-delay: 2.3s !important;
}
.animation-delay-24 {
  animation-delay: 2.4s !important;
}
.animation-delay-25 {
  animation-delay: 2.5s !important;
}
.animation-delay-26 {
  animation-delay: 2.6s !important;
}
.animation-delay-27 {
  animation-delay: 2.6s !important;
}
.animation-delay-28 {
  animation-delay: 2.8s !important;
}
.animation-delay-29 {
  animation-delay: 2.9s !important;
}
.animation-delay-30 {
  animation-delay: 3s !important;
}
.animation-delay-31 {
  animation-delay: 3.1s !important;
}
.animation-delay-32 {
  animation-delay: 3.2s !important;
}
.animation-delay-33 {
  animation-delay: 3.3s !important;
}
.animation-delay-34 {
  animation-delay: 3.4s !important;
}
.animation-delay-35 {
  animation-delay: 3.5s !important;
}
.animation-delay-36 {
  animation-delay: 3.6s !important;
}
.animation-delay-37 {
  animation-delay: 3.7s !important;
}
.animation-delay-38 {
  animation-delay: 3.8s !important;
}
.animation-delay-39 {
  animation-delay: 3.9s !important;
}
.animation-delay-40 {
  animation-delay: 4s !important;
}
.animation-delay-41 {
  animation-delay: 4.1s !important;
}
.animation-delay-42 {
  animation-delay: 4.2s !important;
}
.animation-delay-43 {
  animation-delay: 4.3s !important;
}
.animation-delay-44 {
  animation-delay: 4.4s !important;
}
.animation-delay-45 {
  animation-delay: 4.5s !important;
}
.animation-delay-46 {
  animation-delay: 4.6s !important;
}
.animation-delay-47 {
  animation-delay: 4.7s !important;
}
.animation-delay-48 {
  animation-delay: 4.8s !important;
}
.animation-delay-49 {
  animation-delay: 4.9s !important;
}
.animation-delay-50 {
  animation-delay: 5s !important;
}
.animation-delay-51 {
  animation-delay: 5.1s !important;
}
.animation-delay-52 {
  animation-delay: 5.2s !important;
}
.animation-delay-53 {
  animation-delay: 5.3s !important;
}
.animation-delay-54 {
  animation-delay: 5.4s !important;
}
.animation-delay-55 {
  animation-delay: 5.5s !important;
}
.animation-delay-56 {
  animation-delay: 5.6s !important;
}
.animation-delay-57 {
  animation-delay: 5.7s !important;
}
.animation-delay-58 {
  animation-delay: 5.8s !important;
}
.animation-delay-59 {
  animation-delay: 5.9s !important;
}
.animation-delay-60 {
  animation-delay: 6s !important;
}
.animated-2x {
  animation-duration: 0.5s;
}
.animated-3x {
  animation-duration: 0.25s;
}
.animated-slow {
  animation-duration: 2s;
}
.materialUp {
  animation-name: materialUp;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
}
.shadow {
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
.list-inline-item:not(:last-child) {
  margin-right: 1.5rem;
}
.dnnbooster .social-list.square li a {
  background: transparent;
}
.top-menu-item {
  float: left;
  font-size: 0.75rem;
}
.top-menu-item a {
  padding: 10px;
  color: #fff !important;
}
.top-menu-item a:hover {
  background: #ddd;
  color: #bb1700 !important;
}
.social-menu-item {
  float: right;
  padding-left: 10px;
}
.social-menu-item a {
  padding: 10px;
  color: #fff !important;
}
.social-menu-item a:hover {
  background: #ddd;
  color: #bb1700 !important;
}
.dnnbooster header .navbar .navbar-brand {
  height: auto;
}
.categories {
  background: transparent;
}
.btn-categories {
  color: #bb1700;
  background-color: transparent;
}
.btn-categories:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.09) !important;
  background-color: transparent !important;
}
.navbar-brand {
  padding: 10px;
  margin-right: 2rem;
}
.dnnbooster header .search-bar .searchInputContainer {
  min-width: 600px !important;
}
.searchInputContainer {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border: 1px solid #6c757d !important;
}
#dnn_dnnSearch_txtSearch {
  color: #6c757d !important;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.custom-search {
  color: #6c757d !important;
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 1rem;
  padding: 0 20px;
  border: none;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border: 1px solid #6c757d !important;
}
.theme-color {
  color: #bb1700 !important;
}
.media span.media-step {
  font-size: 60px;
  line-height: 55px;
}
.action-box.parallax {
  padding: 70px 30px;
}
.action-box .action-box-text {
  padding-right: 230px;
}
.action-box.parallax h3,
.action-box.parallax p {
  color: #fff !important;
}
.action-box.full-width a.btn {
  right: 15px;
  border-radius: 20px;
}
.button.button-border.white {
  background: 0 0;
  border: 2px solid #fff;
  color: #fff;
}
.action-box a.btn {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -20px;
}
/*Custom Tabs*/
.mt-6 {
  margin-top: 60px !important;
  margin-top: 6rem !important;
}
.nav-tabs {
  background: #372870;
}
.nav-tabs > li > a {
  color: #fff;
  border: 0;
  margin: 0;
}
.nav-tabs > li > a:hover {
  background-color: transparent;
  border: 0;
}
.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  background-color: transparent;
  border: 0 !important;
  color: #fff;
  font-weight: 500;
}
.nav-tabs > li.disabled > a,
.nav-tabs > li.disabled > a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.nav.nav-tabs {
  position: relative;
  background-color: #372870;
  border: 0;
}
.nav.nav-tabs li a {
  font-weight: 400;
  padding: 15px 20px;
  padding: 1.5rem 2rem;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}
.nav.nav-tabs li a span {
  font-size: 14px;
  font-weight: 700;
}
.nav.nav-tabs li a i {
  margin-right: 10px;
  margin-right: 1rem;
  transition: transform cubic-bezier(0, 0, 0.2, 1) 0.5s;
}
.nav.nav-tabs li a.active {
  cursor: pointer;
  position: relative;
  transition: all cubic-bezier(0, 0, 0.2, 1) 0.5s;
  color: #fff;
  background-color: transparent;
}
.nav.nav-tabs li a.active i {
  transform: rotate(360deg);
}
.nav.nav-tabs.nav-tabs-full {
  width: 100%;
}
.nav.nav-tabs.nav-tabs-full.nav-tabs-2 li {
  width: 50%;
}
.nav.nav-tabs.nav-tabs-full.nav-tabs-3 li {
  width: 33.333%;
}
.nav.nav-tabs.nav-tabs-full.nav-tabs-4 li {
  width: 25%;
}
.nav.nav-tabs.nav-tabs-full.nav-tabs-5 li {
  width: 20%;
}
.nav.nav-tabs.nav-tabs-full.nav-tabs-6 li {
  width: 16.666%;
}
.nav.nav-tabs.nav-tabs-full.nav-tabs-7 li {
  width: 14.2857%;
}
.nav.nav-tabs.nav-tabs-full.nav-tabs-8 li {
  width: 12.5%;
}
.nav.nav-tabs .ms-tabs-indicator {
  transition: left ease 0.3s, width ease 0.4s;
  display: block;
  content: "";
  width: 0;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav.nav-tabs.indicator-light .ms-tabs-indicator {
  background-color: #f5f5f5;
}
.nav.nav-tabs.indicator-dark .ms-tabs-indicator {
  background-color: #424242;
}
.nav.nav-tabs.indicator-primary .ms-tabs-indicator {
  background-color: transparent;
}
.nav.nav-tabs.indicator-info .ms-tabs-indicator {
  background-color: #00bcd4;
}
.nav.nav-tabs.indicator-royal .ms-tabs-indicator {
  background-color: #9c27b0;
}
.nav.nav-tabs.indicator-warning .ms-tabs-indicator {
  background-color: #ff9800;
}
.nav.nav-tabs.indicator-danger .ms-tabs-indicator {
  background-color: #f44336;
}
.nav.nav-tabs.indicator-success .ms-tabs-indicator {
  background-color: #4caf50;
}
.nav.nav-tabs-light {
  background-color: #f5f5f5;
}
.nav.nav-tabs-dark {
  background-color: #424242;
}
.nav.nav-tabs-primary {
  background-color: #372870;
}
.nav.nav-tabs-info {
  background-color: #00bcd4;
}
.nav.nav-tabs-royal {
  background-color: #9c27b0;
}
.nav.nav-tabs-warning {
  background-color: #ff9800;
}
.nav.nav-tabs-danger {
  background-color: #f44336;
}
.nav.nav-tabs-success {
  background-color: #4caf50;
}
.nav.nav-tabs-transparent {
  background-color: transparent;
  border-bottom: solid 3px #bb1700;
}
.nav.nav-tabs-transparent .ms-tabs-indicator {
  bottom: -3px;
}
.nav.nav-tabs-transparent.indicator-light li a.active {
  color: #f5f5f5 !important;
}
.nav.nav-tabs-transparent.indicator-dark li a.active {
  color: #424242 !important;
}
.nav.nav-tabs-transparent.indicator-primary li a.active {
  color: #bb1700 !important;
}
.nav.nav-tabs-transparent.indicator-primary li a.active:after {
  content: " ";
  position: absolute;
  left: 45%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 15px solid transparent;
  border-bottom-color: #bb1700;
}
.nav.nav-tabs-transparent.indicator-info li a.active {
  color: #00bcd4 !important;
}
.nav.nav-tabs-transparent.indicator-royal li a.active {
  color: #9c27b0 !important;
}
.nav.nav-tabs-transparent.indicator-warning li a.active {
  color: #ff9800 !important;
}
.nav.nav-tabs-transparent.indicator-danger li a.active {
  color: #f44336 !important;
}
.nav.nav-tabs-transparent.indicator-success li a.active {
  color: #4caf50 !important;
}
.nav.nav-tabs-transparent li a {
  /* color: rgba(66, 66, 66, 0.7) !important; */
  color: rgba(55, 40, 112, 0.7) !important;
}
.nav.nav-tabs-transparent li a.active {
  color: #424242 !important;
}
.nav.nav-tabs-transparent.color-white li a {
  color: #fff !important;
}
@media (max-width: 767px) {
  .nav.nav-tabs li a i {
    margin: 0 5px;
  }
}
.nav-tabs-ver-container {
  border-radius: 0 !important;
}
.nav-tabs-ver-container .nav-tabs-ver {
  background-color: #f5f5f5;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.nav-tabs-ver-container .nav-tabs-ver li a {
  color: #424242;
  padding: 10px;
  padding: 1rem;
}
.nav-tabs-ver-container .nav-tabs-ver li a i {
  margin-right: 10px;
}
.nav-tabs-ver-container .nav-tabs-ver li a:hover {
  color: #372870;
  background-color: #eee;
}
.nav-tabs-ver-container .nav-tabs-ver li a:focus {
  background-color: transparent;
}
.nav-tabs-ver-container .nav-tabs-ver li a.active {
  color: #372870;
  background-color: #eee;
}
.nav-tabs-ver-container .nav-tabs-ver li a.active i {
  transition: transform ease 0.5s;
  transform: rotateX(360deg);
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-light {
  background-color: #f5f5f5;
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-light li a {
  color: #fff;
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-light li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-light li a.active {
  background-color: rgba(0, 0, 0, 0.1);
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-dark {
  background-color: #424242;
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-dark li a {
  color: #fff;
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-dark li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-dark li a.active {
  background-color: rgba(0, 0, 0, 0.1);
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-primary {
  background-color: #372870;
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-primary li a {
  color: #fff;
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-primary li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-primary li a.active {
  background-color: rgba(0, 0, 0, 0.1);
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-info {
  background-color: #00bcd4;
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-info li a {
  color: #fff;
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-info li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-info li a.active {
  background-color: rgba(0, 0, 0, 0.1);
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-royal {
  background-color: #9c27b0;
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-royal li a {
  color: #fff;
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-royal li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-royal li a.active {
  background-color: rgba(0, 0, 0, 0.1);
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-warning {
  background-color: #ff9800;
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-warning li a {
  color: #fff;
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-warning li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-warning li a.active {
  background-color: rgba(0, 0, 0, 0.1);
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-danger {
  background-color: #f44336;
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-danger li a {
  color: #fff;
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-danger li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-danger li a.active {
  background-color: rgba(0, 0, 0, 0.1);
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-success {
  background-color: #4caf50;
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-success li a {
  color: #fff;
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-success li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.nav-tabs-ver-container .nav-tabs-ver.nav-tabs-ver-success li a.active {
  background-color: rgba(0, 0, 0, 0.1);
}
@media (min-width: 992px) {
  .nav-tabs-ver-container {
    display: -ms-flexbox;
    display: flex;
  }
  .nav-tabs-ver-container > .row {
    overflow: hidden;
  }
  .nav-tabs-ver-container > .row > [class*="col-"] {
    display: -ms-flexbox;
    display: flex;
  }
  .nav-tabs-ver-container .nav-tabs-ver {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
  }
  .nav-tabs-ver-container .nav-tabs-ver:after {
    content: "";
    display: block;
    width: 1px;
    position: absolute;
    z-index: 10;
    box-shadow: -1px 0 1px 0 rgba(0, 0, 0, 0.3);
    height: 100%;
    top: 0;
    right: 0;
  }
  .nav-tabs-ver-container-content {
    padding-left: 0;
    padding-right: 30px;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
}

/*Demo vertical text slide*/
.demo {
  position: relative;
  width: 260px;
  height: 30px;
  line-height: 28px;
  overflow: hidden;
  padding: 5px 25px;
}
.demo li {
  color: #f7f00d;
  font-size: 14px;
}

.ring {
  border: 2px solid #f7f00d;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 0;
  top: 9px;
  -webkit-animation: pulsate 1s ease-out;
  -moz-animation: pulsate 1s ease-out;
  animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: 0;
}
.circle {
  width: 8px;
  height: 8px;
  background-color: #f7f00d;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 6px;
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@-moz-keyframes pulsate {
  0% {
    -moz-transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@-moz-keyframes pulsate {
  0% {
    -moz-transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@media (max-width: 500px) {
  .demo {
    display: none;
  }
}
@media (max-width: 1200px) {
  .topmenu {
    display: none;
  }
  .search-bar {
    display: none;
  }
}
.blockquote {
  font-size: 14px;
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17px;
  border-left: 5px solid #eee;
  position: relative;
}
.blockquote-section blockquote.quote {
  padding-top: 100px;
}
.blockquote-section blockquote.quote:before {
  color: #bb1700;
}
.blockquote-section blockquote {
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  border-left: 0;
  padding-left: 0;
  font-style: normal;
}
.blockquote-section blockquote cite {
  font-size: 16px;
  font-weight: 600;
  margin-top: 40px;
  line-height: 30px;
  font-style: normal;
}
.blockquote-section blockquote.quote:before {
  left: 0;
  top: 0;
  font-size: 120px;
  line-height: 120px;
}
.blockquote-section blockquote.quote:before {
  right: 0;
}
.quote:before {
  content: "\201C";
  font-family: Georgia, serif;
  font-size: 100px;
  font-weight: 700;
  color: #eee;
  position: absolute;
  left: 14px;
  top: -30px;
}
.blockquote-section blockquote cite span {
  display: block;
  font-size: 14px;
}
.contact-box i {
  background: #bb1700 !important;
}
.contact-box i {
  background: #bb1700;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-radius: 5px;
  font-size: 34px;
  color: #fff;
  display: inline-block;
}
.touch-in .contact-box {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.09);
  display: inline-block;
  margin-bottom: 0;
  padding: 60px 20px;
  width: 100%;
}
/* .button {
  background: #bb1700;
  padding: 10px 20px;
  font-size: 13px;
  letter-spacing: 1px;
  font-family: Muli, sans-serif;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  border: 2px solid #bb1700;
  cursor: pointer;
} */
.button:focus,
.button:hover {
  background: #353535;
  color: #fff;
  border-color: #353535;
}
button {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}
.gray-bg {
  background: #f7f7f7 !important;
}
/*Custom Vertical Pills*/
.custom-pills {
  border-radius: 50px !important;
  position: relative;
  margin-bottom: 20px;
  display: block;
  height: 55px;
  line-height: 40px;
  border-bottom: 5px solid rgba(55, 40, 112, 0.7);
  text-align: center;
  background-color: transparent !important;
  color: rgba(55, 40, 112, 0.7) !important;
}
.custom-pills.active {
  color: #bb1700 !important;
  border-color: #bb1700 !important;
  background-color: #fff !important;
}
.section-title p {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
}
.dropcap {
  width: 40px;
  height: 40px;
  line-height: 40px;
  float: left;
  border-radius: 50%;
  background: #84ba3f;
  text-align: center;
  color: #fff;
  margin-right: 10px;
}
.dropcap.dropcap-border {
  background: 0 0;
  border: 2px solid #84ba3f;
  color: #84ba3f;
}
.dropcap.square {
  border-radius: 3px;
}
/*Custom Vertical Pills*/
.section-title {
  margin-bottom: 40px;
  position: relative;
}
/* .title-effect {
  z-index: 99;
  position: relative;
  display: inline-block;
  transition: transform 0.5s, color 0.5s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.title-effect::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 6%;
  left: 0;
  bottom: 0;
  opacity: 0.8;
  transform: scale3d(0, 1, 1);
  transform-origin: 0 50%;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
section:focus .title-effect:nth-child(even),
section:hover .title-effect:nth-child(even) {
  color: #bb1700;
}
.section-title:nth-child(odd) .title-effect::before {
  background: #232882;
}
.sections:hover .title-effect::before {
  transform: scale3d(1, 1, 1);
} */

.happy-clients .tab-content {
  padding: 0 30px;
  position: relative;
  text-align: left;
}
.happy-clients .tab-content .quoter-icon {
  position: absolute;
  left: 0;
  top: -10px;
  font-size: 120px;
  line-height: 1;
  color: #bb1700;
}
.happy-clients .tab-content p {
  padding-left: 30px;
  font-size: 18px;
  padding-top: 10px;
  font-style: italic;
}
.happy-clients .testimonial-avatar {
  position: relative;
  right: inherit;
  left: inherit;
  top: inherit;
  width: inherit;
  height: inherit;
  margin-left: inherit;
  margin-top: 30px;
}
.tab .nav.nav-tabs {
  border: none;
  margin-bottom: 20px;
  background: none !important;
}
.tab .nav.nav-tabs li {
  margin-bottom: 0;
  float: none;
  display: inline-block;
}
.happy-clients .nav-tabs li {
  overflow: visible;
  display: inline-block;
  padding: 0 5px;
}
.tab .nav.nav-tabs > li > a.active {
  background: #bb1700;
  color: #fff;
  border-color: transparent;
}
.happy-clients .nav.nav-tabs li a,
.happy-clients .nav.nav-tabs li a:focus,
.happy-clients .nav.nav-tabs li a:hover {
  background: 0 0;
  padding: 0 !important;
  border: 0;
  outline: 0;
  background: 0 0 !important;
}
.tab .nav.nav-tabs li a {
  border: none;
  line-height: normal;
  border-radius: 0;
  padding: 12px 30px;
  background: #f6f7f8;
  color: #353535;
  border: 1px solid #eee;
}
.happy-clients .nav-tabs li a.active img,
.happy-clients .nav-tabs li a:focus img {
  border: 4px solid #fff;
  opacity: 1;
  top: -2px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}
.happy-clients .nav-tabs li img {
  width: 96px;
  opacity: 0.3;
  height: 96px;
  border-radius: 50%;
}
.addresss-info li {
  font-size: 14px;
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.5);
  list-style: none;
}
.addresss-info i {
  color: #bb1700;
  padding-right: 5px;
  padding-bottom: 20px;
  float: left;
  display: table-cell;
  width: 30px;
  line-height: 23px;
  font-size: 14px;
}
.addresss-info li a {
  color: #323232 !important;
}
.addresss-info li a:hover {
  color: #bb1700 !important;
}
.main-footer {
  background: #eee;
}
.main-footer .usefull-link ul li {
  display: block;
  border-bottom: 0;
  line-height: 24px;
  padding: 5px 0;
}
.main-footer .usefull-link ul li a {
  color: #323232;
}
.main-footer .usefull-link ul li a:hover {
  color: #bb1700;
}
.text-theme {
  color: #372870 !important;
}
/******Free Section*******/
.freeContainer {
  padding: 50px 0;
}
.freeSectionContainer {
  display: flex;
  justify-content: space-between;
}
.freeSectionBox {
  width: 154px;
  cursor: pointer;
}
.freeSectionImg {
  display: block;
  margin: auto;
  height: 84px;
  width: 84px;
  -o-object-fit: contain;
  object-fit: contain;
}
.freeSectionTitle {
  margin-top: 20px;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
}
.freeContainer h1 {
  margin-bottom: 2.5rem;
}
/********Counter********/
.counter.left-icon {
  padding-left: 70px;
}
.counter {
  position: relative;
  color: #353535;
  min-height: 60px;
}

.counter.left-icon .icon {
  font-size: 40px;
  line-height: 50px;
  position: absolute;
  left: 0;
  bottom: auto;
  top: 0;
}
.counter.left-icon span {
  margin: 0;
}

.counter.left-icon span {
  margin: 0;
  line-height: 40px;
}
.counter .timer {
  display: block;
  font-size: 44px;
  font-weight: 600;
}

.counter label {
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0 0;
  position: relative;
  text-transform: capitalize;
}

.parallax {
  background-size: cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -ms-background-size: cover !important;
  position: relative;
  z-index: 0;
  background-origin: initial;
  background-position: center center !important;
  background-repeat: no-repeat;
}
.bg-overlay-black-70:before {
  background: rgba(0, 0, 0, 0.7);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
/*********Scroll-To-Top********/
#scroll {
  position: fixed;
  right: 40px;
  bottom: 25px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: #372870;
  z-index: 1;
  display: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 25px;
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #ffffff;
}
#scroll:hover {
  background-color: #bb1700;
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
}

/************Product Tabs*********/
#course {
  display: flex;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.05);
  font: normal normal 600 normal 16px / 22.4px;
  margin: 0px 4px 16px;
  outline: rgb(102, 102, 102) none 0px;
  padding: 8px;
  border-radius: 10px;
}
#course:hover,
#course:focus {
  box-shadow: #062f4f 0px 1px 6px 0px, #ff9600 0px 1px 4px 0px;
}
#course_logo_span {
  display: block;
  height: 48px;
  left: 0px;
  min-height: auto;
  min-width: auto;
  position: relative;
  right: 0px;
  width: 48px;
  margin: 0px 16px;
}
#course_logo {
  width: 48px;
}
#course_name {
  color: #062f4f;
  height: 22px;
  min-height: auto;
  min-width: auto;
  /* font: normal normal 600 normal 16px / 22.4px "Muli", sans-serif; */
}
.breadcrumbLink {
  padding: 0 10px;
  color: #ffffff !important;
}
.breadcrumbLink:hover {
  color: #575757 !important;
}
.breadcrumbOuter {
  margin-top: 5px;
  font-size: 13px;
}
/***********Progress Bar*************/
.skill {
  position: relative;
  width: 100%;
  height: 7px;
  margin: 40px 0 20px 0;
  background-color: #eceff8;
  border-radius: 4px;
}
.skill:not(:first-child) {
  margin-top: 64px;
}
.skill-bar {
  position: relative;
  height: 100%;
  border-radius: 4px;
  padding: 0;
  background: #bb1700;
  box-shadow: none;
  transition: width 0.9s ease;
  -webkit-transition: width 0.9s ease;
  -o-transition: width 0.9s ease;
  -ms-transition: width 0.9s ease;
  -moz-transition: width 0.9s ease;
}
.progress-bar {
  position: relative;
  height: 100%;
  border-radius: 4px;
  padding: 0;
  background-color: #bb1700;
  box-shadow: none;
}
.skill-title {
  color: #353535;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  text-align: left;
  margin-left: 0;
  margin-top: -28px;
}
.skill-title > i {
  margin-right: 8px;
}
.skill-bar .progress-number,
.skill-bar .progress-type {
  color: #353535;
  float: right;
  margin-top: -18px;
  position: absolute;
  right: 0;
  top: -10px;
  font-size: 15px;
  font-weight: 600;
}
.skill-bar .progress-number {
  right: 14px;
}
.text-white .skill {
  background: rgba(255, 255, 255, 0.25);
}
.text-white .skill-title {
  color: #fff;
}
.text-white .skill-bar .progress-number,
.text-white .skill-bar .progress-type {
  color: #fff;
}
.services-text-box-blue .skill-bar,
.theme-bg .skill-bar {
  background: #fff;
}
.skill.skill-big {
  height: 12px;
}
.skill.skill-medium {
  height: 8px;
}
.skill.skill-small {
  height: 3px;
}
.skill.skill-dark .skill-bar {
  background: #353535;
}
/**********Overlay***********/
.bg-overlay-black-10:before {
  background: rgba(0, 0, 0, 0.1);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bg-overlay-black-20:before {
  background: rgba(0, 0, 0, 0.2);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bg-overlay-black-30:before {
  background: rgba(0, 0, 0, 0.3);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bg-overlay-black-40:before {
  background: rgba(0, 0, 0, 0.4);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bg-overlay-black-50:before {
  background: rgba(0, 0, 0, 0.5);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bg-overlay-black-60:before {
  background: rgba(0, 0, 0, 0.6);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bg-overlay-black-70:before {
  background: rgba(0, 0, 0, 0.7);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bg-overlay-black-80:before {
  background: rgba(0, 0, 0, 0.8);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bg-overlay-black-90:before {
  background: rgba(0, 0, 0, 0.9);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bg-overlay-white-10:before {
  background: rgba(255, 255, 255, 0.1);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bg-overlay-white-20:before {
  background: rgba(255, 255, 255, 0.2);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bg-overlay-white-30:before {
  background: rgba(255, 255, 255, 0.3);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bg-overlay-white-40:before {
  background: rgba(255, 255, 255, 0.4);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bg-overlay-white-50:before {
  background: rgba(255, 255, 255, 0.5);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bg-overlay-white-60:before {
  background: rgba(255, 255, 255, 0.6);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bg-overlay-white-70:before {
  background: rgba(255, 255, 255, 0.7);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bg-overlay-white-80:before {
  background: rgba(255, 255, 255, 0.8);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bg-overlay-white-90:before {
  background: rgba(255, 255, 255, 0.9);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bg-overlay-theme-20:before {
  background: rgba(132, 186, 63, 0.2);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bg-overlay-theme-50:before {
  background: rgba(132, 186, 63, 0.5);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bg-overlay-theme-70:before {
  background: rgba(132, 186, 63, 0.7);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bg-overlay-theme-90:before {
  background: rgba(132, 186, 63, 0.9);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.bg-overlay-black-10,
.bg-overlay-black-20,
.bg-overlay-black-30,
.bg-overlay-black-40,
.bg-overlay-black-50,
.bg-overlay-black-60,
.bg-overlay-black-70,
.bg-overlay-black-80,
.bg-overlay-black-90,
.bg-overlay-theme-20,
.bg-overlay-theme-50,
.bg-overlay-theme-70,
.bg-overlay-theme-90,
.bg-overlay-white-10,
.bg-overlay-white-20,
.bg-overlay-white-30,
.bg-overlay-white-40,
.bg-overlay-white-50,
.bg-overlay-white-60,
.bg-overlay-white-70,
.bg-overlay-white-80,
.bg-overlay-white-90 {
  position: relative;
}
.action-box p {
  font-size: 13px;
}
/*************Social Icons************/
.social-icons ul {
  padding: 0;
}
.text-center.social-icons ul {
  display: inline-block;
}
.social-icons li {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0 8px 8px 0;
}
.social-icons li:last-child {
  margin-right: 0;
}
.social-icons li a {
  display: block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  margin: 0;
  border-radius: 4px;
  border: 0;
  background: 0 0;
  color: #fe1e50;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.text-white .social-icons li a {
  color: #fff;
}
.social-icons.color a,
.social-icons.color-hover a:hover {
  color: #fff;
  border: 0;
}
.social-icons.color .social-rss a,
.social-icons.color-hover .social-rss a:hover {
  background-color: #faa33d;
}
.social-icons.color .social-facebook a,
.social-icons.color-hover .social-facebook a:hover {
  background-color: #5d82d1;
}
.social-icons.color .social-twitter a,
.social-icons.color-hover .social-twitter a:hover {
  background-color: #40bff5;
}
.social-icons.color .social-telegram a,
.social-icons.color-hover .social-telegram a:hover {
  background-color: #0088cc;
}
.social-icons.color .social-vimeo a,
.social-icons.color-hover .social-vimeo a:hover {
  background-color: #35c6ea;
}
.social-icons.color .social-myspace a,
.social-icons.color-hover .social-myspace a:hover {
  background-color: #008dde;
}
.social-icons.color .social-youtube a,
.social-icons.color-hover .social-youtube a:hover {
  background-color: #ef4e41;
}
.social-icons.color .social-instagram a,
.social-icons.color-hover .social-instagram a:hover {
  background-color: #e1326b;
}
.social-icons.color .social-gplus a,
.social-icons.color-hover .social-gplus a:hover {
  background-color: #d68400;
}
.social-icons.color .social-stumbleupon a,
.social-icons.color-hover .social-stumbleupon a:hover {
  background-color: #ff5c30;
}
.social-icons.color .social-lastfm a,
.social-icons.color-hover .social-lastfm a:hover {
  background-color: #f34320;
}
.social-icons.color .social-pinterest a,
.social-icons.color-hover .social-pinterest a:hover {
  background-color: #e13138;
}
.social-icons.color .social-google a,
.social-icons.color-hover .social-google a:hover {
  background-color: #eb5e4c;
}
.social-icons.color .social-evernote a,
.social-icons.color-hover .social-evernote a:hover {
  background-color: #9acf4f;
}
.social-icons.color .social-dribbble a,
.social-icons.color-hover .social-dribbble a:hover {
  background-color: #f7659c;
}
.social-icons.color .social-skype a,
.social-icons.color-hover .social-skype a:hover {
  background-color: #13c1f3;
}
.social-icons.color .social-forrst a,
.social-icons.color-hover .social-forrst a:hover {
  background-color: #45ad76;
}
.social-icons.color .social-linkedin a,
.social-icons.color-hover .social-linkedin a:hover {
  background-color: #238cc8;
}
.social-icons.color .social-wordpress a,
.social-icons.color-hover .social-wordpress a:hover {
  background-color: #2592c3;
}
.social-icons.color .social-grooveshark a,
.social-icons.color-hover .social-grooveshark a:hover {
  background-color: #ffb21d;
}
.social-icons.color .social-delicious a,
.social-icons.color-hover .social-delicious a:hover {
  background-color: #377bda;
}
.social-icons.color .social-behance a,
.social-icons.color-hover .social-behance a:hover {
  background-color: #1879fd;
}
.social-icons.color .social-dropbox a,
.social-icons.color-hover .social-dropbox a:hover {
  background-color: #17a3eb;
}
.social-icons.color .social-soundcloud a,
.social-icons.color-hover .social-soundcloud a:hover {
  background-color: #ff7e30;
}
.social-icons.color .social-deviantart a,
.social-icons.color-hover .social-deviantart a:hover {
  background-color: #6a8a7b;
}
.social-icons.color .social-yahoo a,
.social-icons.color-hover .social-yahoo a:hover {
  background-color: #ab47ac;
}
.social-icons.color .social-flickr a,
.social-icons.color-hover .social-flickr a:hover {
  background-color: #ff48a3;
}
.social-icons.color .social-digg a,
.social-icons.color-hover .social-digg a:hover {
  background-color: #75788d;
}
.social-icons.color .social-blogger a,
.social-icons.color-hover .social-blogger a:hover {
  background-color: #ff9233;
}
.social-icons.color .social-tumblr a,
.social-icons.color-hover .social-tumblr a:hover {
  background-color: #426d9b;
}
.social-icons.color .social-quora a,
.social-icons.color-hover .social-quora a:hover {
  background-color: #ea3d23;
}
.social-icons.color .social-github a,
.social-icons.color-hover .social-github a:hover {
  background-color: #3f91cb;
}
.social-icons.color .social-amazon a,
.social-icons.color-hover .social-amazon a:hover {
  background-color: #ff8e2e;
}
.social-icons.color .social-xing a,
.social-icons.color-hover .social-xing a:hover {
  background-color: #1a8e8c;
}
.social-icons.color .social-wikipedia a,
.social-icons.color-hover .social-wikipedia a:hover {
  background-color: #b3b5b8;
}
.social-icons.color .social-android a,
.social-icons.color-hover .social-android a:hover {
  background-color: #a4c639;
}
.social-icons.color .social-apple a,
.social-icons.color-hover .social-apple a:hover {
  background-color: #999;
}
.social-icons.social-border li a {
  border: 1px solid #eee;
  background: 0 0;
}
.social-icons.social-icons-dark li a {
  background: #888;
  color: #fff;
}
.social-icons.light li a {
  background: #fff;
  color: #333;
  border: 1px solid #eee;
}
.social-icons.rounded li a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.social-icons.medium li a {
  height: 42px;
  width: 42px;
  line-height: 42px;
  font-size: 18px;
}
.social-icons.social-icons-large li a {
  height: 48px;
  width: 48px;
  line-height: 48px;
  font-size: 18px;
  margin: 0 10px 10px 0;
}
.social-icons:not(.color):not(.color-hover) li a:hover {
  background-color: #eee;
}
.social-icons li:hover i {
  -webkit-animation: toTopFromBottom 0.3s forwards;
  -moz-animation: toTopFromBottom 0.3s forwards;
  animation: toTopFromBottom 0.3s forwards;
}
@-webkit-keyframes toTopFromBottom {
  49% {
    -webkit-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
@-moz-keyframes toTopFromBottom {
  49% {
    -moz-transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    -moz-transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes toTopFromBottom {
  49% {
    transform: translateY(-100%);
  }
  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  51% {
    opacity: 1;
  }
}
.social-icons.big li a {
  height: 62px;
  width: 62px;
  line-height: 62px;
  font-size: 18px;
}
.social-icons.color-icon a {
  color: #84ba3f;
}
.social-icons.color-icon .social-rss a {
  color: #faa33d;
}
.social-icons.color-icon .social-facebook a {
  color: #5d82d1;
}
.social-icons.color-icon .social-twitter a {
  color: #40bff5;
}
.social-icons.color-icon .social-vimeo a {
  color: #35c6ea;
}
.social-icons.color-icon .social-myspace a {
  color: #008dde;
}
.social-icons.color-icon .social-youtube a {
  color: #ef4e41;
}
.social-icons.color-icon .social-instagram a {
  color: #e1326b;
}
.social-icons.color-icon .social-gplus a {
  color: #d68400;
}
.social-icons.color-icon .social-stumbleupon a {
  color: #ff5c30;
}
.social-icons.color-icon .social-lastfm a {
  color: #f34320;
}
.social-icons.color-icon .social-pinterest a {
  color: #e13138;
}
.social-icons.color-icon .social-google a {
  color: #eb5e4c;
}
.social-icons.color-icon .social-evernote a {
  color: #9acf4f;
}
.social-icons.color-icon .social-dribbble a {
  color: #f7659c;
}
.social-icons.color-icon .social-skype a {
  color: #13c1f3;
}
.social-icons.color-icon .social-forrst a {
  color: #45ad76;
}
.social-icons.color-icon .social-linkedin a {
  color: #238cc8;
}
.social-icons.color-icon .social-wordpress a {
  color: #2592c3;
}
.social-icons.color-icon .social-grooveshark a {
  color: #ffb21d;
}
.social-icons.color-icon .social-delicious a {
  color: #377bda;
}
.social-icons.color-icon .social-behance a {
  color: #1879fd;
}
.social-icons.color-icon .social-dropbox a {
  color: #17a3eb;
}
.social-icons.color-icon .social-soundcloud a {
  color: #ff7e30;
}
.social-icons.color-icon .social-deviantart a {
  color: #6a8a7b;
}
.social-icons.color-icon .social-yahoo a {
  color: #ab47ac;
}
.social-icons.color-icon .social-flickr a {
  color: #ff48a3;
}
.social-icons.color-icon .social-digg a {
  color: #75788d;
}
.social-icons.color-icon .social-blogger a {
  color: #ff9233;
}
.social-icons.color-icon .social-tumblr a {
  color: #426d9b;
}
.social-icons.color-icon .social-quora a {
  color: #ea3d23;
}
.social-icons.color-icon .social-github a {
  color: #3f91cb;
}
.social-icons.color-icon .social-amazon a {
  color: #ff8e2e;
}
.social-icons.color-icon .social-xing a {
  color: #1a8e8c;
}
.social-icons.color-icon .social-wikipedia a {
  color: #b3b5b8;
}
.social-icons.color-icon .social-android a {
  color: #a4c639;
}
.social-icons.color-icon .social-apple a {
  color: #999;
}
.social-icons.text-social li a {
  width: inherit;
  height: inherit;
  font-size: 18px;
  font-weight: 700;
}
.social-icons.text-social li a:hover {
  background: 0 0;
}
.social-icons:not(.color):not(.color-hover) li a:hover {
  background: 0 0;
}
.link-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  align-items: flex-start;
  background: #f7f8fa;
  border-bottom: 1px solid #dedfe0;
  height: 44px;
  padding: 0;
}
.link-bar-category {
  display: block;
  color: #686f7a;
  font-size: 13px;
  font-weight: 400;
  padding: 12px 16px;
}
.link-bar-category:hover {
  background-color: #e8e9eb;
  color: #ea3d23;
}

/* .link-bar {
  min-height: 44px;
  border-bottom: 1px solid #dedfe0;
}
.link-bar-container {
  display: flex;
  height: 44px;
  justify-content: flex-start;
  position: relative;
}
.menu-items {
  flex: 1;
  min-width: 1px;
  height: 44px;
  overflow: hidden;
  position: relative;
}
.menu-item {
  display: inline-block;
  position: relative;
  white-space: nowrap;
  margin-left: 24px;
  margin-right: 24px;
}
.menu-item:not(.link-bar-item) .active,
.menu-item:not(.link-bar-item):hover {
  color: #bb1700 !important;
  background-color: #e8e9eb;
}
.menu-item .link-bar-item .active,
.menu-item .link-bar-item:hover {
  color: #bb1700 !important;
  background-color: #e8e9eb;
}
.link-bar-item {
  color: #686f7a;
  display: block;
  font-size: 15px;
  padding: 12px;
  text-decoration: none;
  white-space: nowrap;
}
.link-bar-item.active {
  font-weight: 700 !important;
  padding: 12px;
} */
.scroll-list {
  padding-left: 10px;
  max-height: 210px;
  overflow-y: auto;
}
.scroll-list::-webkit-scrollbar {
  width: 1em;
}
.scroll-list::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px; */
  background: none;
  border: none;
}
.scroll-list::-webkit-scrollbar-thumb {
  background: #dadce0;
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 8px;
  box-shadow: none;
  min-height: 50px;
}
.filter-container {
  margin-bottom: 10px;
  overflow-x: auto;
  /* display: flex; */
  white-space: nowrap;
}
.filter-box {
  background-color: #ffffff;
  position: relative;
  display: inline-block;
  color: #212121;
  padding: 8px 26px 8px 16px;
  margin: 1px 12px 12px 2px;
  border-radius: 30px;
}
.filter-box:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.filter-close-icon {
  position: absolute;
  right: 7px;
  width: 21px;
  top: 8px;
}
.clear-filter {
  display: inline-block;
  padding-top: 11px;
  color: #007bff;
  cursor: pointer;
}
.discount {
  color: #00c500;
  padding-left: 10px;
}
.filter-header {
  border-bottom: 1px solid #f0f0f0;
  font-size: 20px;
  font-weight: 700;
  padding: 0.75rem 1.25rem;
  color: #bb1700;
  background-color: #dadada;
}
.user-admsn-type {
  font-size: 15px;
  font-weight: 600;
}
.mibs-student {
  color: #372870;
}
.green {
  color: #00c500;
}

.sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 75px;
  bottom: 0;
  z-index: 2;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; /* <-- this is the fix */
}
.product-img {
  position: relative;
  margin-bottom: 30px;
}
.product-icon {
  position: relative;
  margin-bottom: 15px;
  color: #bb1700;
}
.highlights {
  position: relative;
  margin-bottom: 30px;
  color: #bb1700;
  text-align: center;
}
.product-icon .icon {
  color: #bb1700;
}
.product-icon-text {
  color: #bb1700;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.product-left .price-box {
  display: block;
  margin: 0 0 10px;
  padding: 0 0 5px;
  min-height: 75px;
}
.product-right .price-box {
  /* border-bottom: 1px solid #ddd; */
  display: block;
  margin: 0 0 10px;
  padding: 0 0 5px;
}
.product-left .price-box .old-price {
  margin-right: 5px;
  margin-top: 0;
  display: inline-block;
  margin: auto;
}
.product-left .price-box .special-price {
  float: right;
  margin: 0;
  padding: 0;
  color: #bb1700;
}

.availability {
  margin: 10px 0 8px;
  font-weight: normal;
  font-size: 11px;
  position: absolute;
  right: 20px;
  margin-top: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.availability.in-stock {
  background: #6dbe14;
  color: #fff;
  border-radius: 20px;
  padding: 3px 10px;
}
.product-right .price-box .old-price {
  margin-right: 5px;
  margin-top: 0;
  display: inline-block;
  margin: auto;
}
.old-price .price {
  color: #777777;
  font-size: 20px;
  font-weight: normal;
  text-decoration: line-through;
  margin-right: 6px;
}
.old-price .price-label {
  color: #777777;
  white-space: nowrap;
  margin-bottom: 0.3rem !important;
}
.product-right .price-box .special-price {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #bb1700;
}
.special-price .price-label {
  font-size: 13px;
  font-weight: 900;
  white-space: nowrap;
  color: #bb1700;
}
.special-price .price {
  font-size: 28px;
  color: #bb1700;
  font-weight: bold;
}
.short-description {
  padding-bottom: 5px;
  font-size: 13px;
  border-bottom: 1px solid #dddddd;
}
.special-tag {
  top: 0;
  position: absolute;
  width: 30%;
  color: white;
  height: 32px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 0 0 20px 0;
  background-color: #ff4d00;
  line-height: 32px;
  text-align: center;
  background: linear-gradient(75deg, #bc00ea, #3572b1, #06b936, #f7f00d);
  background-size: 300% 300%;
  animation: gradient 7.5s ease infinite;
}
.seperator {
  border-right: 1px solid #bb1700;
}
.test {
  color: #00c500;
}
.topic {
  color: #ff4d00;
}
.sub {
  color: #007fb8;
}
.highlights-test-text {
  color: #00c500;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.highlights-topic-text {
  color: #ff4d00;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.highlights-sub-text {
  color: #007fb8;
  margin-left: 5px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.product-left .btn {
  text-transform: uppercase;
}
.product-right .btn {
  text-transform: uppercase;
}
.product-right h2 {
  font-size: 18px;
  font-weight: bold;
  color: #fff !important;
  margin-bottom: 0.5rem !important;
}
.syllabus p {
  color: #fff !important;
}
.syllabus-list {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 18px;
  margin-bottom: 0.5rem !important;
}
.title-bg {
  font-size: 24px;
  font-weight: 600;
  background-color: #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-left: 10px solid #bb1700;
}
.rating-wrap {
  margin-bottom: 10px;
}
.ratinginfo {
  display: inline-block;
  margin-left: 10px;
}
.ratinginfo a {
  color: #00c500 !important;
}
/* .color-details {
  padding: 10px 0;
}
.swatches {
  margin: 0.5em 0;
  padding-left: 0;
}
.swatches li {
  border: 2px solid #ffffff;
  display: inline-block;
  margin: 2px 1px;
  vertical-align: top;
  list-style: none;
  cursor: pointer;
}
.swatches a {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid #ffffff;
  box-shadow: 1px 1px 2px #c5c5c5;
  display: block;
  height: 33px;
  text-align: center;
  transition: all 0.25s ease 0s;
  width: 33px;
}
.swatches li a:after {
  content: "\f00c";
  font-family: fontawesome;
  font-size: 0;
  font-weight: lighter;
  color: #fff;
  transition: font-size 0.25s ease 0.1s;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.swatches .selected a:after {
  content: "\f00c";
  font-family: fontawesome;
  font-size: 100%;
  font-weight: lighter;
  color: #fff;
  transition: font-size 0.25s ease 0.1s;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.swatches .selected,
.swatches li:hover {
  border: 2px solid #ddd;
} */
.productFilter {
  clear: both;
  display: block;
  margin-bottom: 20px;
  padding-bottom: 7px;
  padding-top: 10px;
  margin-top: 20px;
}
.product-share {
  border-top: 1px solid #dddddd;
  clear: both;
  display: inline-block;
  margin-top: 20px;
  padding-top: 14px;
  width: 100%;
}
.socialIcon a {
  font-size: 18px;
  border-radius: 3px;
  line-height: 35px;
  display: inline-block;
  width: 35px;
  height: 35px;
  color: #fff !important;
  text-align: center;
  padding: 0;
  /*  */
}
.socialIcon .fb {
  background: #3c5b9b;
}
.socialIcon .tw {
  background: #359bed;
}
.socialIcon .mail {
  background: #6b6b6b;
}
.socialIcon a:hover {
  transform: translateY(-0.15rem);
  box-shadow: 0 10px 8px -6px rgba(0, 0, 0, 0.57) !important;
}
.test-list {
  background-color: #fff;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 0px 4px 0 rgba(0, 0, 0, 0.2);
}
.test-list:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #bb1700;
  height: 4px;
  border-radius: 3px;
  -webkit-transition-property: left right;
  transition-property: left right;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.test-list:hover:before {
  left: 0;
  right: 0;
}
.cursor {
  cursor: pointer;
}
.syllabus {
  padding: 15px;
  background-color: #656975;
  color: #fff;
  border-radius: 0 0 1px 1px;
  margin-top: 15px;
}
.test-list-title {
  font-size: 14px;
  font-weight: bolder;
}
/* @media (min-width: 992px) {
  .product-left {
    padding: 30px !important;
  }
} */

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.preview-thumbnail {
  border: none;
  margin-top: 15px;
  background-color: transparent;
  text-align: center;
}
.preview-thumbnail li {
  width: 17%;
  margin-right: 2.5%;
  display: inline-block;
}
.preview-thumbnail li:last-of-type {
  margin-right: 0;
}
.dlist-align {
  display: flex;
}
.dlist-align dd {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.net {
  color: #bb1700;
}
.img-sm {
  width: 80px;
  height: 80px;
}
.itemside {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.itemside .info {
  padding-left: 15px;
  padding-right: 7px;
}
.table-shopping-cart.table td,
.table-shopping-cart.table th {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.table-shopping-cart .price-wrap {
  line-height: 1.2;
  letter-spacing: -0.7px;
}
.table-shopping-cart .price {
  font-weight: bold;
  margin-right: 5px;
  display: block;
  color: #212529;
}
.icontext {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
  margin-bottom: 0;
}
.checkout {
  float: right;
}
.user-wrap {
  text-align: center;
}
.card {
  box-shadow: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  background-color: #fff;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  border: 0;
}
.wishlist h6 {
  margin-bottom: 0.5rem;
}
.mibs-card {
  min-height: 160px;
  max-width: 260px;
  margin: 0 auto;
  background-repeat: no-repeat !important;
}
.mibs-card:hover {
  transform: scale(1.05);
  transition: all 0.25s ease;
}
#dnn_ctr3550_dashboard_pnlPMCardimagenew:hover {
  transform: scale(1.05);
  transition: all 0.25s ease;
}
.mibs-type {
  position: absolute;
  top: 38%;
  left: 18%;
}
.mibs-validity {
  position: absolute;
  top: 80%;
  left: 6%;
}
.card-logo {
  padding: 6px 0 0 10px;
}
.card-no {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 13px !important;
}
.validity {
  position: absolute;
  top: 87%;
  left: 36%;
  transform: translate(-50%, -50%);
  color: white;
}
.avatar {
  box-shadow: 0 2px 5px 0 rgba(18, 43, 70, 0.12), 0 0 0 1px #e7e9ec;
  border: 5px solid #fff;
  border-radius: 50%;
  max-width: 180px;
  background: rgba(255, 255, 255, 0.8);
}
.user-title h3 {
  margin-bottom: 0.5rem;
  font-size: 26px !important;
}
.user-type {
  background: #d94c61;
  border-radius: 100px;
  font-size: 11px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.25px;
  text-align: center;
  display: inline-block;
  padding: 4px 10px 4px;
  line-height: 1;
  vertical-align: middle;
  margin-left: 0.3rem;
}
.green-bg {
  background: green;
}
.mibs-student {
  font-weight: 600;
}
.dashboard-left {
  padding: 1.75rem 1.25rem !important;
}
.dashboard-left:hover {
  box-shadow: 0 0 2px #333333;
  transform: scale(1);
}

/********User Dropdown*******/
.dropbtn {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  height: 40px !important;
  white-space: nowrap !important;
}
.dropbtn .badge {
  position: absolute;
  right: -2px;
  top: 3px;
  border: none;
  min-width: 14px;
  padding: 0.15em;
  font-size: 10px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.topbar .dd-notification .dropdown-content a {
  text-align: left !important;
  line-height: 25px !important;
  font-size: 12px !important;
}
.topbar .dd-notification .dropdown-content span {
  font-size: 10px !important;
  display: contents;
}
.topbar .dd-notification .dropdown-footer {
  background: #f7f8fa;
  height: 58px;
}
.topbar .dd-notification .dropdown-footer a {
  color: #bb1700 !important;
  display: block !important;
  font-size: 13px !important;
  font-weight: 700 !important;
  padding: 10px 15px !important;
  width: auto;
}
.topbar .dd-notification .dropdown-footer a:hover {
  color: #004d5e !important;
  background: #f7f8fa !important;
}
.topbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 10000;
  border: none;
  border-radius: 0;
  border-bottom-left-radius: 2px;
  border-top: 1px solid #e8e9eb;
  box-shadow: 0 4px 16px rgba(20, 23, 28, 0.25);
  color: #505763 !important;
  font-size: 13px;
  margin: 0;
  padding: 8px 0 16px;
  top: 45px;
  width: 300px;
  border-bottom-right-radius: 2px;
  right: 0;
}
.dd-notification .dropdown-content {
  padding: 0;
}
.topbar .dropdown-content:before {
  border-style: solid;
  border-width: 0 10px 13px;
  content: "" !important;
  height: 0;
  position: absolute;
  width: 0;
  border-color: transparent transparent #fff transparent;
  top: -12px;
  left: auto;
  right: 14px;
}
.topbar .dropdown-content a {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: #29303b !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  padding: 10px 15px !important;
  width: 100%;
  clear: both;
  position: relative;
}
.topbar .dropdown-content li {
  float: none !important;
}
.topbar .dropdown-content span {
  text-align: left;
  line-height: 25px !important;
  color: #29303b !important;
  font-size: 15px;
}
.fx {
  flex: 1;
  min-width: 1px;
}
.dropdown-content .divider {
  height: 1px;
  margin: 9.5px 0;
  overflow: hidden;
  background-color: rgba(222, 223, 224, 0.45);
}
.topbar .dropdown-content .divider {
  background-color: rgba(222, 223, 224, 0.45) !important;
  margin: 4px 16px !important;
}

.text-midnight {
  color: #29303b !important;
}
.text-midnight-lighter {
  color: #686f7a !important;
  font-size: 80% !important;
}
.user {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.avatar-topbar {
  border-radius: 50%;
  max-width: 30px;
  background: rgba(255, 255, 255, 0.8);
}
.avatar-topbar-dropdown {
  border-radius: 50%;
  max-width: 50px;
  background: rgba(255, 255, 255, 0.8);
}

.notification_header {
  border-bottom: 1px solid rgba(222, 223, 224, 0.45);
  color: #29303b;
  font-size: 15px;
  min-height: 45px;
  padding: 0 12px 0 12px;
  white-space: nowrap;
}
.fx-lt {
  display: flex;
}
.pos-r {
  position: relative;
}
.wishlist {
  height: 62px;
}
.dropdown-icon {
  font-size: 13px;
  margin: 0 2px;
  padding: 10px 0;
}
.dropdown-icon .dropdown-link {
  border-radius: 50%;
  padding: 12px 0;
  width: 45px;
}
.dropdown-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 3px;
  color: #505763 !important;
  font-weight: 400;
  height: 45px;
  line-height: 20px !important;
  padding: 12px 15px;
  white-space: nowrap;
}
.dropdown-link .badge {
  position: absolute;
  right: -2px;
  top: -7px;
  border: none;
  min-width: 14px;
  padding: 0.15em;
  font-size: 10px;
}
.dropdown-shopping-list .dropdown-menu {
  width: 330px;
  padding: 0;
}
.dropdown-shopping-list .dropdown-menu:before {
  border-style: solid;
  border-width: 0 10px 13px;
  content: "" !important;
  height: 0;
  position: absolute;
  width: 0;
  border-color: transparent transparent #fff transparent;
  top: -13px;
  left: auto;
  right: 11px;
}

.dropdown-main-icon {
  font-size: 20px !important;
  color: #686f7a !important;
  display: block;
  padding: 0;
}
.dropdown-empty {
  border-top: none;
  text-align: center;
  padding: 20px;
}
.dropdown-to-more {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 13px;
}
/********Rating*******/
.rating {
  direction: rtl;
  unicode-bidi: bidi-override;
  color: #ddd; /* Personal choice */
}
.rating input {
  display: none;
}
.rating label:hover,
.rating label:hover ~ label,
.rating input:checked + label,
.rating input:checked + label ~ label {
  color: #ffc107; /* Personal color choice. Lifted from Bootstrap 4 */
}
/********404 Styles*******/
.error-block {
  position: relative;
  z-index: 9;
  padding: 20px 0 130px 0px;
}
.error-block .error-text {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  z-index: -1;
}
.error-block .error-text h2 {
  font-size: 420px;
  line-height: 300px;
  color: rgba(0, 0, 0, 0.1) !important;
  position: absolute;
  left: 0;
  top: 0;
}
.error-block .error-text span {
  display: inline-block;
  position: absolute;
  right: -86px;
  top: 109px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  font-size: 124px;
  line-height: 90px;
  color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
}
.error-block h1 {
  font-size: 87px;
  padding-top: 110px;
}
.error-block p {
  font-size: 33px;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
/********Console Styles*******/

/* .console-large div {
  margin: 22px 12px;
  width: 150px;
  height: 140px !important;
  padding: 0px;
  cursor: pointer;
  text-align: center;
  float: left;
  background-color: #fff;
  border-radius: 16px !important;
  border: 1px solid #372870;
} */
.console-large div {
  min-width: 142px;
  height: 130px !important;
  width: 142px;
  margin: 10px;
  padding: 6px;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  text-align: center;
  float: left;
  background-color: #fff;
  border-radius: 7px !important;
  border: 1px solid #dee2e6;
}
.console-large div:hover {
  border-color: #007bff !important;
  color: #007bff;
  transform: translateY(-0.25rem);
  box-shadow: 0 2.25rem 1.5rem -1.5rem rgba(33, 37, 41, 0.3),
    0 0 1.5rem 0.5rem rgba(33, 37, 41, 0.05) !important;
}

.console-large img {
  float: none;
  margin-top: 8px;
  padding: 0px !important;
  width: 64px !important;
  height: 64px !important;
}
/* .console-large h3 {
  margin-top: 6px;
  padding: 7px 0;
  width: 150px;
  text-align: center;
  overflow: hidden;
  font-size: 1em;
  line-height: 17px;
  font-weight: bold;
  color: #372870;
} */
.console-large h3 {
  margin: 0 auto;
  width: auto !important;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
  color: #372870;
  overflow: hidden;
  line-height: 1.4em;
  padding-top: 5px;
}
.console-large div div {
  display: none;
}

.console-disabled {
  opacity: 0.4;
}

@media only screen and (max-width: 590px) {
  .console-large div {
    margin: 12px;
  }
}

.white-box {
  background: #fff;
  padding: 30px 15px;
  border-radius: 5px;
  -webkit-box-shadow: 16px 1px 10px 3px #dadada;
  -moz-box-shadow: 16px 1px 10px 3px #dadada;
  box-shadow: 16px 1px 10px 3px #dadada;
  text-align: center;
  display: inline-block;
  position: relative;
}
.white-box:hover {
  transform: scale(1.05);
  text-decoration: none;
  box-shadow: #dadada 0 0 70px;
}
.services-wrap a {
  display: block;
  margin: 0 0 1rem;
}
.services-wrap img {
  width: 55px;
  height: 55px;
}
.item-feature {
  border: 1px solid #dee2e6;
  border-radius: 7px;
  padding: 20px 5px 0 5px;
  text-align: center;
}
.item-feature:hover {
  border-color: #007bff;
  color: #007bff !important;
  transform: translateY(-0.25rem);
  box-shadow: 0 2.25rem 1.5rem -1.5rem rgba(33, 37, 41, 0.3),
    0 0 1.5rem 0.5rem rgba(33, 37, 41, 0.05) !important;
}
.item-feature .title {
  margin-top: 10px;
  font-size: 13px;
}
.item-feature:hover .title {
  color: #007bff !important;
}
ul.list-hand li {
  list-style-type: none;
  text-indent: 0 !important;
  position: relative;
  margin: 5px 0;
  line-height: 28px;
}
ul.list-hand li:after {
  content: "\f0a4";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  color: #bb1700;
  left: 0;
  top: 0;
}
.lead.lead-xl {
  font-size: 24px;
  font-size: 2rem;
  font-weight: 300;
  line-height: 33.6px;
  line-height: 3.36rem;
}
.lead.lead-lg {
  font-size: 20px;
  font-size: 1.5rem;
  font-weight: 400;
}
.lead.lead-md {
  font-size: 17px;
  font-size: 1rem;
  line-height: 27px;
  line-height: 2rem;
}
.lead.lead-sm {
  font-size: 16px;
  font-size: 0.25rem;
  line-height: 26px;
  line-height: 2.6rem;
}
.table-striped-primary > tbody > tr:nth-child(odd) > td,
.table-striped-primary > tbody > tr:nth-child(odd) > th {
  background-color: #eff3fb;
  color: #fff;
}
.table tr {
  transition: all ease 0.3s;
}
.table tr td,
.table tr th {
  padding: 12px !important;
  border-color: #e0e0e0 !important;
}
.table tr th {
  border-top: 0;
  color: #fff;
  background-color: #507cd1;
  font-weight: bold;
}
.table tr:hover {
  background-color: #fafafa;
}
.table tr.success td {
  background-color: #d9eeda !important;
}
.table tr.info td {
  background-color: #d4faff !important;
}
.table tr.warning td {
  background-color: #fff5e6 !important;
}
.table tr.danger td {
  background-color: #fde1df !important;
}
.table tr.royal td {
  background-color: #f4def8 !important;
}
.table tr.primary td {
  background-color: #ace4fe !important;
}

.ui-widget-overlay.custom-overlay {
  background-color: black;
  background-image: none;
  opacity: 0.9;
  z-index: 1040;
}

.ui-dialog-titlebar {
  display: none;
}

.divdialog {
  display: none;
  position: relative;
}
.imgclosecl {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 200;
}

@media (max-width: 768px) {
  .categories {
    display: none;
  }
  .link-bar {
    display: none;
  }
  .checkout-p {
    text-align: center;
  }
  .checkout {
    margin-top: 10px;
    float: none;
  }
}
@media (min-width: 1366px) {
  /* .navbar .input-group {
    width: 39% !important;
    padding: 0;
  } */
  .dnnbooster header .search-bar {
    background: none;
    padding: 0 !important;
    min-width: 400px;
  }
}
@media (min-width: 1583px) {
  .dnnbooster header .search-bar {
    min-width: 496px;
  }
}
@media (min-width: 1700px) {
  /* .navbar .input-group {
    width: 37% !important;
  } */
  .dnnbooster header .search-bar {
    min-width: 490px;
  }
}
@keyframes materialUp {
  from {
    transform: translateY(100%);
  }
  100% {
    transform: none;
  }
}

.live-test-wrap {
  text-align: center;
  background: -moz-repeating-linear-gradient(
    -45deg,
    rgb(247, 247, 247),
    rgb(247, 247, 247) 15px,
    rgb(225, 234, 235) 15px,
    rgb(225, 234, 235) 30px,
    rgb(247, 247, 247) 30px
  );
  background: -webkit-repeating-linear-gradient(
    -45deg,
    rgb(247, 247, 247),
    rgb(247, 247, 247) 15px,
    rgb(225, 234, 235) 15px,
    rgb(225, 234, 235) 30px,
    rgb(247, 247, 247) 30px
  );
  background: -o-repeating-linear-gradient(
    -45deg,
    rgb(247, 247, 247),
    rgb(247, 247, 247) 15px,
    rgb(225, 234, 235) 15px,
    rgb(225, 234, 235) 30px,
    rgb(247, 247, 247) 30px
  );
  background: repeating-linear-gradient(
    -45deg,
    rgb(247, 247, 247),
    rgb(247, 247, 247) 15px,
    rgb(225, 234, 235) 15px,
    rgb(225, 234, 235) 30px,
    rgb(247, 247, 247) 30px
  );
}
.live {
  margin-bottom: 0 !important;
}
.live h5 {
  margin-bottom: 0;
  color: #372870;
}