﻿.nav.nav-tabs>li>a.active{
    color: #fe1e50 !important;
    background: #fff!important;
    border-color: #eee;
    border-bottom: 0;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
}


.white-bg {
    background: #fff;
}
.page-section-ptb {
    padding: 80px 0;
}

.sections {
    display: block;
}
.title-effect {
    z-index: 99;
    position: relative;
    display: inline-block;
    transition: transform .5s,color .5s;
    transition-timing-function: cubic-bezier(.2,1,.3,1);
}
.sections:hover .title-effect::before {
    transform: scale3d(1,1,1);
}

.title-effect::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 6%;
    left: 0;
    bottom: 0;
    opacity: .8;
    transform: scale3d(0,1,1);
    transform-origin: 0 50%;
    transition: transform .5s;
    transition-timing-function: cubic-bezier(.2,1,.3,1);}

    .feature-text .square:hover{
        background: #fe1e50;
        color: white;
    }
    .tab.nav-bt .nav.nav-tabs>li>a.active{
        border-color: #fe1e50;
    }

    .section-title:nth-child(odd) .title-effect::before {
    background: #232882;
}
section:hover .title-effect:nth-child(even), ul.list li:after{
  color: #fe1e50;
}



.feature-icon .fa-map-marker,.fa-phone,.fa-envelope-o {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    font-size: 26px !important;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
    
}

.feature-text.left-icon .feature-icon {
    position: absolute;
    left: 0;
}

.feature-text {
    text-align: center;
}

.feature-text.left-icon .feature-info {
    padding-left: 100px;
    text-align: left;
}
.feature-text.left-icon.square .feature-info {
    padding-left: 100px;
}
.list-inline-item i{
    margin-top: 13pxn !important;
}

.accordion.animated .acd-group.acd-active .acd-heading {
    font-size: 28px;
    margin-bottom: 20px;
    background: 0 0!important;
}
.gray-bg {
    background: #f7f7f7;
}
.accordion.animated .acd-group .acd-heading {
    box-shadow: none;
    border: none;
    font-size: 18px;
    margin-bottom: 0;
    color: #363636;
    text-transform: inherit;
    font-weight: 700;
    padding: 20px 0 0;
}

a:hover, .accordion .acd-group .acd-heading:hover, .accordion .acd-group.acd-active .acd-heading{
        color: #fe1e50!important;
}

.accordion .acd-heading {
    font-weight: 500!important;
    position: relative;
    padding: 20px 32px 20px 0;
    color: #353535!important;
    font-size: 14px!important;
    line-height: normal;
    cursor: pointer;
    background-color: transparent;
    margin-bottom: 0;
    display: block;
    font-family: Muli,sans-serif;
    text-transform: uppercase;
    border-radius: 30px;
        
}


.action-box.parallax h3, .action-box.parallax p {
    color: #fff;
}
.sections:hover .title-effect:nth-child(even), ul.list li:after{
  color: #fe1e50;
}

.section-title p {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 400;
}
.nav-center .nav.nav-tabs {
    text-align: center;
    display: block;
}

.tab .nav.nav-tabs {
    border: none;
    margin-bottom: 20px;
}

.tab .nav.nav-tabs li {
    margin-bottom: 0;
    float: none;
    display: inline-block;
}
.round .nav.nav-tabs li a {
    border: none;
    line-height: normal;
    margin-right: 10px;
    border-radius: 90px;
    padding: 12px 30px;
    background: #f6f7f8;
    color: #353535;
}

ul.list-mark li {
    list-style-type: none;
    padding-left: 25px;
    position: relative;
}
ul.list li {
    margin: 5px 0;
    padding-left: 24px;
    position: relative;
    line-height: 28px;
}
ul.list-mark li:after {
    content: "\f00c";
}
ul.list li:after{
    color: #fe1e50;
}
.acd-des{
    margin-left: 40px!important;
}