.counter.left-icon {
  padding-left: 70px;
}
.counter {
  position: relative;
  color: #353535;
  min-height: 60px;
}

.counter.left-icon .icon {
  font-size: 40px;
  line-height: 50px;
  position: absolute;
  left: 0;
  bottom: auto;
  top: 0;
}
.counter.left-icon span {
  margin: 0;
}

.counter.left-icon span {
  margin: 0;
  line-height: 40px;
}
.counter .timer {
  display: block;
  font-size: 44px;
  font-weight: 600;
}

.counter label {
  font-size: 15px;
  font-weight: 600;
  margin: 10px 0 0;
  position: relative;
  text-transform: capitalize;
}

.parallax {
  -webkit-background-size: cover !important;
  position: relative;
  z-index: 0;
  background-position: center center !important;
}

.bg-overlay-black-70:before {
  background: rgba(0, 0, 0, 0.7);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
