.item {
  display: block;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  margin-bottom: 20px;
}
.product {
  display: block;
  min-height: 400px;
  border-radius: 0.25rem;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  border: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-align: center;
}

.product:hover {
  background: #fff;
}
.add-fav {
  border: 1px solid;
  border-radius: 50%;
  height: 30px;
  line-height: 31px;
  position: absolute;
  right: 30px;
  text-align: center;
  top: 15px;
  width: 30px;
  z-index: 10;
  transform: scale(1.15);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: opacity 0.3s linear,
    -webkit-transform 0.7s cubic-bezier(0.56, 0.48, 0, 0.99);
  -moz-transition: opacity 0.3s linear,
    -moz-transform 0.7s cubic-bezier(0.56, 0.48, 0, 0.99);
  -o-transition: opacity 0.3s linear,
    -o-transform 0.7s cubic-bezier(0.56, 0.48, 0, 0.99);
  -ms-transition: opacity 0.3s linear,
    -ms-transform 0.7s cubic-bezier(0.56, 0.48, 0, 0.99);
  transition: opacity 0.3s linear,
    transform 0.7s cubic-bezier(0.56, 0.48, 0, 0.99);
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(Opacity=0)";
}
.add-fav:hover {
  cursor: pointer;
}

.list-view .product .add-fav {
  right: 40px;
  top: 8px;
}

.product:hover .add-fav {
  opacity: 1;
  webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.add-fav i {
  webkit-transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  -o-transform: scale(1) rotate(0deg);
  -ms-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
  transition: all 0.3s ease;
}

.add-fav:active i {
  webkit-transform: scale(0.85) rotate(0deg);
  -moz-transform: scale(0.85) rotate(4deg);
  -o-transform: scale(0.85) rotate(0deg);
  -ms-transform: scale(0.85) rotate(0deg);
  transform: scale(0.85) rotate(4deg);
}
.add-fav.active {
  background-color: #bb1700;
  color: #ffffff !important;
  opacity: 0 !important;
}
.image {
  position: relative;
  text-align: center;
  width: 100%;
  padding: 2px;
  max-height: 240px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}

.image a {
  display: block;
  overflow: hidden;
}

.image a img {
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  max-height: 240px;
  margin: 0 auto;
}

.product:hover .image a img {
  transform: scale(1.15) rotate(-1.5deg);
  -webkit-transform: scale(1.1) rotate(-1.5deg);
  -moz-transform: scale(1.1) rotate(-1.5deg);
  -ms-transform: scale(1.1) rotate(-1.5deg);
  -o-transform: scale(1.1) rotate(-1.5deg);
}

.promotion {
  top: 0;
  color: white;
  position: absolute;
  z-index: 10;
  bottom: 20px;
  left: 0;
  height: 17px;
  width: auto;
  padding-right: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

.description {
  margin: 0 auto;
  min-height: 107px;
  max-width: 235px;
}

.list-view .description {
  margin: 0 auto;
  min-height: auto;
  max-width: 100%;
}

.promotion {
  line-height: 18px;
}

.new-product {
  color: #ffffff;
  display: inline-block;
  float: left;
  font-size: 12px;
  height: 100%;
  margin: 0 3px;
}

.gradient-bg {
  /* height: 32px; */
  border-radius: 0 0 20px 0;
  background-color: #ff4d00;
  /* line-height: 32px; */
  text-align: center;
  background: linear-gradient(75deg, #bc00ea, #3572b1, #06b936, #f7f00d);
  background-size: 300% 300%;
  animation: gradient 7.5s ease infinite;
}

.discount {
  /* border-radius: 0 4px 4px 0; */
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 12px;
  height: 100%;
  padding: 0;
  margin-left: 2px;
}

.item h4 {
  margin: 0;
  min-height: 35px;
  max-height: 80px;
  overflow: hidden;
  display: block;
  line-height: 18px;
  margin: 10px 0 10px;
  padding: 0;
}

.item h4 a {
  font-weight: 700 !important;
  color: #3a3a3a !important;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
.item h4 a:hover {
  color: rgb(2, 139, 255) !important;
}

.description p {
  color: #888888;
  font-size: 14px;
  min-height: 40px;
  line-height: 18px;
  margin-bottom: 0.75rem;
  display: block;
}
.item.list-view .grid-description {
  display: none;
}

.list-description {
  display: none;
}
.item.list-view .list-description {
  display: block;
}
.item.list-view .action-control {
  padding: 18px 0;
  text-align: right;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #454545;
}

.product:hover {
  -webkit-box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
  box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.product .rating-wrap {
  margin-bottom: 0;
}

.action-control {
  border: 0;
  display: block;
  height: auto;
  padding: 18px;
  width: 100%;
}
.item.list-view {
  display: block;
  height: auto !important;
  flex: 0 0 100%;
  max-width: 100% !important;
  overflow: hidden;
  margin-bottom: 20px;
}
.item.list-view .image {
  display: block;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  flex: 0 0 25%;
  max-width: 25%;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  padding: 12px;
  background: #fff;
}

.item.list-view .image a {
  display: block;
  max-height: 100%;
  height: 100%;
  max-height: 100% !important;
}

.item.list-view .image img {
  max-height: 260px;
  width: auto !important;
}
.item.list-view h4 {
  height: auto;
  margin: 45px 0 5px;
  font-size: 24px;
}

.item.list-view h4 a {
  font-weight: 600;
}

.item.list-view .description {
  text-align: right;
}

.item.list-view .price-wrap {
  text-align: right !important;
}

.item.list-view .rating-wrap {
  text-align: right !important;
}

.item.list-view .description p {
  text-align: right;
  max-height: 200px;
  min-height: 10px;
}

.item.list-view .price {
  font-size: 22px;
  text-align: right;
}

.item.list-view .product {
  padding-right: 20px;
  min-height: 260px;
}

.item:hover .action-control {
  border-bottom-color: #fff;
}

/* quick view btn */
div.quickview {
  display: block;
  top: 50%;
  /* margin-top: 40%; */
  max-height: 50px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
  visibility: hidden;
}

.product:hover div.quickviewx {
  visibility: visible;
}

.product:not(.isIphone):hover div.quickview {
  visibility: visible;
}
.product.isIphone .image:hover div.quickview {
  visibility: visible;
}

.btn-quickview {
  border-radius: 2px;
  font-size: 0.75rem;
  letter-spacing: 2px;
  color: #454545 !important;
  text-transform: uppercase;
  background: #fff; /* old borwser */
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #eee;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-o-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  left: auto;
  min-width: 100px;
  max-height: 40px;
  /* height: 40px !important; */
  opacity: 0;
  -webkit-opacity: 0;
  -ms-opacity: 0;
  /* padding: 10px; */
  visibility: hidden;
  width: auto;
  display: inline-block !important;
  z-index: 2;
  transform: scale(0.75);
  -webkit-transform: scale(0.75);
  -o-transform: scale(0.75);
  -ms-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
}

/* fix iphone click issue on add to cart button */
.product:not(.isIphone):hover .btn-quickview {
  visibility: visible;
  opacity: 0.85;
  -webkit-opacity: 0.85;
  -ms-opacity: 0.85;
  transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
}

.product.isIphone .image:hover .btn-quickview {
  visibility: visible;
  opacity: 0.85;
  -webkit-opacity: 0.85;
  -ms-opacity: 0.85;
  transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
}

.list-view .product:hover div.quickview {
  top: 45%;
}

@media (max-width: 460px) {
  div.quickview {
    margin-top: 25%;
  }
}

@media (max-width: 400px) {
  div.quickview {
    margin-top: 35%;
  }
}

.product > .btn-quickview:hover {
  opacity: 0.95;
}

/* quick view btn end */
