@font-face {
  font-family: "SF UI Text";
  src: url("SFUIText-Light.woff") format("woff"),
    url("SFUIText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Text";
  src: url("SFUIText-LightItalic.woff") format("woff"),
    url("SFUIText-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SF UI Text";
  src: url("SFUIText-Regular.woff") format("woff"),
    url("SFUIText-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Text";
  src: url("SFUIText-RegularItalic.woff") format("woff"),
    url("SFUIText-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SF UI Text";
  src: url("SFUIText-Medium.woff") format("woff"),
    url("SFUIText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Text";
  src: url("SFUIText-Semibold.woff") format("woff"),
    url("SFUIText-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Light.woff") format("woff"),
    url("SFUIDisplay-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Medium.woff") format("woff"),
    url("SFUIDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("SFUIDisplay-Bold.woff") format("woff"),
    url("SFUIDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
