.navbar {
  transition: none;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link p {
  display: inline-block;
}
.navbar button {
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .navbar[class*="navbar-toggleable-"] .container {
    margin-left: 0;
    margin-right: 0;
  }
}
.card.card-collapse {
  border: none;
  background-color: transparent;
  border-radius: 10px;
  transition: background-color 170ms ease-in;
  margin-bottom: 10px;
  box-shadow: none;
}
.card.card-collapse.active {
  background-color: #fff;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
}
.card.card-collapse.active .card-header h2 > a {
  color: #3c4858;
}
.card.card-collapse.active .card-header h2 > a i {
  opacity: 1;
}
.card.card-collapse .card-header {
  padding: 0;
  background-color: transparent;
  border-bottom: none;
}
.card.card-collapse .card-header h2 > a {
  padding: 0.5rem 1rem;
  display: block;
  color: #372870;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: none;
}
.card.card-collapse .card-header h2 > a i {
  opacity: 0;
  float: right;
  position: relative;
  top: 4px;
  color: #3c4858;
  transition: transform 170ms ease-in, opacity 170ms ease-in;
}
.card.card-collapse .card-header h2 > a[aria-expanded="true"] i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.card.card-collapse .card-header h2 > a:hover,
.card.card-collapse .card-header h2 > afocus {
  color: inherit;
}
.card.card-collapse .card-header h2 > a .jcorgFilterTextChild {
  display: inline-block;
}
.card.card-collapse .card-header + div .card-body {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  padding-left: 12px;
  padding-right: 12px;
}
.card.card-collapse .card-header + div .card-body ul {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
.card.card-collapse .card-header + div .card-body ul li > a {
  padding: 5px 15px;
  display: block;
  color: #3c4858;
  font-size: 14px;
  border-radius: 4px;
  transition: background-color 100ms linear, color 100ms linear;
  text-decoration: none;
}
.card.card-collapse .card-header + div .card-body ul li > a:hover,
.card.card-collapse .card-header + div .card-body ul li > a:focus,
.card.card-collapse .card-header + div .card-body ul li > a.active {
  background-color: rgba(220, 220, 220, 0.425);
}
.card.card-collapse .card-header + div .card-body ul li:not(:last-child) a {
  margin-bottom: 5px;
}
.card.card-collapse:hover,
.card.card-collapse:focus {
  background-color: #fff;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
}
.card.card-collapse:hover h2 > a,
.card.card-collapse:focus h2 > a {
  color: #3c4858;
}
.card.card-collapse:hover h2 > a i,
.card.card-collapse:focus h2 > a i {
  color: #3c4858;
  opacity: 1;
}

/* .main {
  background: url("../img/header.jpg") no-repeat center center fixed;
  background-size: cover;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  z-index: -1;
  top: 0;
  position: absolute;
}
.main:before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.73;
  background: #000000;
} */
.main .header + div {
  /* margin-top: 80px;
  margin-bottom: 100px; */
}
.main .header .brand {
  text-align: center;
  /* margin-top: 100px; */
}
.main .header .brand h2 {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 600;
}
.main .header .brand .btn {
  cursor: pointer;
}

#accordion .row + .row {
  margin-top: 60px;
}

.navbar p {
  margin-bottom: 0;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: none;
}

.col-md-3:not(:last-child):before {
  content: "";
  width: 1px;
  position: absolute;
  right: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.show-highlight
  .card.card-collapse
  .card-header
  + div
  .card-body
  ul
  li.bootstrap4-new
  > a {
  transition: background-color 170ms ease-in, color 170ms ease-in;
}
.show-highlight
  .card.card-collapse
  .card-header
  + div
  .card-body
  ul
  li.bootstrap4-new
  > a,
.show-highlight
  .card.card-collapse
  .card-header
  + div
  .card-body
  ul
  li.bootstrap4-new
  > a:hover,
.show-highlight
  .card.card-collapse
  .card-header
  + div
  .card-body
  ul
  li.bootstrap4-new
  > a:focus {
  background-color: #00bcd4;
  color: #fff;
}

.html-code {
  display: none;
}

.share-plugin {
  position: fixed;
  height: auto;
  width: 50px;
  background-color: #fff;
  left: 0;
  top: 154px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.share-plugin ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.share-plugin ul li > a {
  display: block;
  text-align: -webkit-center;
  padding: 13px;
  transition: background-color 170ms ease-in;
}
.share-plugin ul li > a i {
  color: #fff;
  font-size: 20px;
  vertical-align: middle;
}
.share-plugin ul li > a.facebook-sharrre-nav {
  background-color: #3b5998;
  border-top-right-radius: 3px;
}
.share-plugin ul li > a.facebook-sharrre-nav:hover,
.share-plugin ul li > a.facebook-sharrre-nav:focus {
  background-color: #4264aa;
}
.share-plugin ul li > a.pinterest-sharrre-nav {
  background-color: #cb2027;
}
.share-plugin ul li > a.pinterest-sharrre-nav:hover,
.share-plugin ul li > a.pinterest-sharrre-nav:focus {
  background-color: #dd272f;
}
.share-plugin ul li > a.google-sharrre-nav {
  background-color: #dd4b39;
}
.share-plugin ul li > a.google-sharrre-nav:hover,
.share-plugin ul li > a.google-sharrre-nav:focus {
  background-color: #e15f4f;
}
.share-plugin ul li > a.twitter-sharrre-nav {
  background-color: #00aced;
  border-bottom-right-radius: 3px;
}
.share-plugin ul li > a.twitter-sharrre-nav:hover,
.share-plugin ul li > a.twitter-sharrre-nav:focus {
  background-color: #08bbff;
}

.bg-transparent {
  background-color: transparent;
  color: #fff;
}
.bg-transparent .navbar-nav .nav-link,
.bg-transparent .navbar-brand,
.bg-transparent .navbar-brand:focus,
.bg-transparent .navbar-brand:hover,
.bg-transparent .navbar-toggler,
.bg-transparent .navbar-nav .nav-link:focus,
.bg-transparent .navbar-nav .nav-link:hover {
  color: #fff;
}

.container-editor {
  height: 280px;
  width: 100%;
  padding: 10px 15px;
  position: fixed;
  overflow: scroll;
  bottom: 0;
  transform: translate3d(0, 280px, 0);
  background-color: gray;
  z-index: 9999;
  transition: transform 170ms linear;
}
.container-editor .material-icons {
  position: absolute;
  right: 25px;
  top: 8px;
  color: #fff;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 170ms linear;
}
.container-editor .material-icons:hover,
.container-editor .material-icons:focus {
  opacity: 1;
}
.container-editor.open {
  transform: translate3d(0, 0px, 0);
}
.container-editor .editor-left,
.container-editor .return-right {
  width: 48%;
  height: 200px;
  max-height: 200px;
}
.container-editor .editor-left > h5,
.container-editor .return-right > h5 {
  color: #fff;
}
.container-editor .editor-left {
  float: left;
}
.container-editor .return-right {
  float: right;
}
.container-editor #editor,
.container-editor #return {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 0;
  border-radius: 4px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.5);
}
.container-editor #return {
  background-color: #fff;
  padding: 10px;
  overflow: scroll;
}
.container-editor #return .navbar.fixed-top,
.container-editor #return .navbar.fixed-bottom {
  position: absolute;
}
.container-editor #return .card {
  max-width: 320px;
}

@media screen and (max-width: 768px) {
  .col-md-3:before {
    display: none;
  }

  .editor-left,
  .return-right {
    width: 100% !important;
  }

  .editor-left {
    margin-bottom: 100px;
  }

  #return {
    margin-bottom: 10px !important;
  }

  .card-body .row .col-md-4:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 900px) {
  .share-plugin {
    display: none;
  }
}
.footer {
  color: #ffffff;
  background-color: transparent;
  padding: 10px 15px;
}
.footer nav {
  display: inline-block;
  float: left;
  line-height: 2.4;
}
.footer ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.footer ul li {
  display: inline-block;
}
.footer:after {
  display: table;
  clear: both;
  content: " ";
}
.footer .copyright > a,
.footer nav ul li > a > a {
  color: #fff;
}

@media screen and (min-width: 991px) {
  .footer .copyright {
    float: right;
  }
}
@media screen and (max-width: 991px) {
  .footer nav {
    display: block;
    float: none;
  }
}
