#GetAppBanner {display: none;}
#GetSTBanner {display: none;}
html,body{overflow-x:hidden!important;}
@media screen and (max-width: 1024px) {
    #GetAppBanner {
        display: block;
    }

    #GetSTBanner {
        display: block;
    }


    .GetTheAppBanner {
        position: fixed;
        bottom: 0px!important;
        right:0;
        width: 100%;
        padding: 20px;
        border-top: 3px solid #F37021;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        font-family: knowledge-light, sans-serif;
        -webkit-font-smoothing: antialiased;
        z-index: 99999999;
        opacity : 1;
        background: white;
        color: black;
    }

        .GetTheAppBanner .GetTheAppBanner_ex {
            display: inline-block;
            width: 30px;
            height: 30px;
            font-size: 30px;
            text-align: center;
            top: 0px;
            padding: 10px;
            right: 0;
            position: absolute;
            left: auto;
            z-index: 4;
            line-height: 10px;
            opacity: .5;
            cursor: pointer;
        }

        .GetTheAppBanner a {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 2;
        }

        .GetTheAppBanner i {
            background: url(/Portals/0/Images/mahendras-transparent.png);
            background-size: 48px 48px;
            background-repeat: no-repeat;
            background-position: 1px 1px;
            float: left;
            margin-right: 20px;
            width: 50px;
            height: 50px;
            display: block;
            border: 1px solid #ececec;
            border-radius: 30px;
        }

        .GetTheAppBanner p {
            margin: 0;
            font-size: 18px;
            font-weight: 300;
        }

        .GetTheAppBanner .open-app {
            color: #ffffff;
            font-size: 23px;
            font-weight: 700;
            left: 21%;
            top: 48%;
            background-color: #F44336;
            max-width: 121px;
            padding: 4px;
            border-radius: 30px;
            height: auto;
            cursor: pointer;
        }

        .GetTheAppBanner .open-test {
            color: #ffffff;
            font-size: 23px;
            font-weight: 700;
            left: 21%;
            top: 48%;
            background-color: #F44336;
            max-width: 150px;
            padding: 7px;
            border-radius: 30px;
            height: auto;
            cursor: pointer;
             margin-top: 4px;
        }

            .GetTheAppBanner .open-test:hover {
                color: #ffec16 !important;
            }
}