.page-section-2-ptb {
  padding: 80px 0;
}
.pos-r {
  position: relative;
}
.login-box-02 {
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 100%;
}
.login-box-02.white-overlay {
  background: rgba(255, 255, 255, 0.5);
}
.login-signup a.text-black:hover {
  color: #ffffff;
}
.login-box-02 {
  border: 0;
}
.remember-checkbox a {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  cursor: pointer;
}
.theme-bg {
   background: #84ba3fbd;
}
.or {
  text-align: center;
  position: relative;
  font-size: 18px;
}
.frgtpwd a {
  color: red !important;
}
#success p {
  color: #ffffff;
}
#success a {
  color: #bb1700;
}
#success a:hover {
  color: red;
}
ul.list-hand li {
  list-style-type: none;
  text-indent: 0 !important;
  position: relative;
  margin: 5px 0;
  line-height: 28px;
}
ul.list-hand li:after {
  content: "\f0a4";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  color: #84ba3f;
  left: 0;
  top: 0;
}
