﻿
.console-large div { 
	margin:22px; 
	width:150px; 
	height:140px !important; 
	padding:0px; 
	cursor:pointer; 
	text-align:center; 
	float:left; 
	background-color:#3399ff; 
	border-radius:16px!important; 
	color:#fff;
	border: 2px solid;
	border-color: #3399ff;
}

.console-large img { float:none; margin-top:8px; padding: 10px; width:64px!important; height:64px!important; }
.console-large h3 {  margin-top:6px; width:150px; text-align:center; overflow:hidden; font-size:1.2em; line-height: 17px;  font-weight: bold; color: #fff; text-shadow: 1px 1px #333; }
.console-large div div { display:none; }

.console-mouseon { 
	background-color: #fff !important;
	
}
.console-mouseon h3 {
	color: #000 !important;
	text-shadow: none;
}

.console { width:95%; height:95%;background-color: transparent!important; }
.console-disabled { opacity: 0.4; }


@media only screen and (max-width: 590px)
{

.console-large div { 
	margin:12px;
}

}
