/*Digi-content*/

.video_post a {
  outline: none;
  transition: all 300ms ease-in-out 0s;
}
.video_post a:focus,
.video_post a:hover {
  outline: none;
  text-decoration: none;
  transition: all 300ms ease-in-out 0s;
}
.m0 {
  margin: 0;
}
.video_post {
  padding: 15px;
}
.video_post .inner {
  border-radius: 5px;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.09);
  background: #fff;
  border-bottom: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.video_post .inner:hover,
.video_post .inner:focus {
  -webkit-transform: translate(0, -8px);
  -moz-transform: translate(0, -8px);
  -ms-transform: translate(0, -8px);
  -o-transform: translate(0, -8px);
  transform: translate(0, -8px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.16);
}
.video_post .inner .screencast {
  position: relative;
}
.video_post .inner .screencast .play_btn {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../../images/play-btn.png) no-repeat center center;
  top: 0;
  left: 0;
}
.video_post .inner .screencast .audio_btn {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../../images/audio-btn.png) no-repeat center center;
  top: 0;
  left: 0;
}
.video_post .inner .screencast .pdf_btn {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../../images/file-btn.png) no-repeat center center;
  top: 0;
  left: 0;
}
.video_post .inner .screencast .media-length {
  position: absolute;
  background: #4aa3df;
  line-height: 20px;
  font-size: 12px;
  padding: 0 5px;
  left: 0;
  bottom: 0;
  color: #fff;
}
.video_post .inner .post_data {
  max-width: 184px;
  padding: 7px;
  padding-bottom: 20px;
}
.video_post .inner .post_data .post_title {
  font-weight: 600;
  line-height: 22px;
  max-width: -webkit-fill-available;
  color: #43494e;
  font-size: 16px;
  display: block;
  padding-bottom: 15px;
}
.video_post .inner .post_data .author,
.video_post .inner .post_data .viewsdiv {
  color: #43494e;
  font-size: 12px;
  font-weight: 600;
  padding-top: 5px;
}
.video_post .inner .post_data .author a,
.video_post .inner .post_data .date a {
  color: #43494e;
}
.video_post .inner .post_data .author {
  margin-right: 30px;
}
.video_post .inner .post_data .category,
.video_post .inner .post_data .views {
  display: block;
}
.video_post .inner .post_data .category a,
.video_post .inner .post_data .views a {
  color: #43494e;
  font-size: 12px;
  font-weight: 600;
  display: block;
  padding: 10px 0px;
  white-space: nowrap;
}
.video_post .inner .post_data .category a img,
.video_post .inner .post_data .views a img {
  margin-right: 5px;
}
.vdoresolution {
  display: inline-block;
  float: right;
}
.video_post .inner .post_data .views a {
  padding: 0;
}
.video_post .inner .taxonomy .category {
  margin-right: 1px;
}
.video_post .inner .taxonomy .views {
  margin-left: 1px;
  text-align: right;
}
.video_post .inner .taxonomy .category,
.video_post .inner .taxonomy .views {
  width: calc(50% - 1px);
}
.video_post .inner .taxonomy .category a,
.video_post .inner .taxonomy .views a {
  background: #f1f4f5;
  color: #43494e;
  font-size: 12px;
  font-weight: 600;
  display: block;
  padding: 12px 15px;
  min-height: 43px;
  white-space: nowrap;
}
.video_post .inner .taxonomy .category a img,
.video_post .inner .taxonomy .views a img {
  margin-right: 5px;
}
.video_post .inner:hover .screencast .play_btn {
  background-image: url(../../images/play-btn-hover.png);
  top: 0;
  left: 0;
}
.video_post .inner:hover .screencast .audio_btn {
  background-image: url(../../images/audio-btn-hover.png);
  top: 0;
  left: 0;
}
.video_post .inner:hover .screencast .pdf_btn {
  background-image: url(../../images/file-btn-hover.png);
  top: 0;
  left: 0;
}
.video_post .inner:hover .post_data .post_title {
  color: #4aa3df;
}

.nocontentdiv {
  background-color: #333 !important;
  width: 100% !important;
  display: none;
}

/* .tabcontentdiv{
  background-color: #333;padding-left:inherit;padding-right: inherit;
} */

.containerdiv {
  width: 100% !important;
  margin-right: 30px;
}

.col12div {
  padding-left: inherit !important;
  padding-right: inherit !important;
}

.Selectresolution {
  height: 18px !important;
  padding: 0px;
  font-size: 0.7em;
}

.subjectdiv {
  display: block;
  font-size: 10px;
  padding: 2px 2px 2px 2px;
}

.article-img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 60%;
  max-height: 300px;
  filter: contrast(0.5);
}
.itemdisabled {
  opacity: 0.7;
}
